*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts css */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
/* button */

#btn{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #469165;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
}

#navbar .nav-content{
    display: flex;
    gap:346px;
    margin: 16px 120px;
    align-items: center;

}

#navbar .nav-content .nav-menu{
    display: flex;
    gap: 32px;
}

#navbar .nav-content .nav-menu p{
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}